# === OS-specific ===
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# === IDEs ===
.idea/
*.iml
.vscode/
.gradle/

# === Backups & temp ===
*.swp
*.bak
*.tmp
*.orig

# === Build artifacts ===
build/
out/
gen/
generated/
*.pb.cc
*.pb.h
*.pb.go
*.pb.java
*.pb.swift

# === MkDocs build dir ===
site/

# === Python cache ===
__pycache__/
*.pyc
